@import "mixinfunc";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Pinyon+Script&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap");

.bgImg {
	background-image: url(../multimedia/index-body-img.jpg);
	@include ajustar-imagen(93vh);

	@media (max-width: pixeles-rem(757)) {
		& {
			background-image: none;
		}
	}
}

.intro {
	@include crear-flexbox(center);
	flex-direction: column;
	height: 80vh;
	color: aliceblue;
	&-titulo {
		padding: 7px 3px;
	}
}

.texto-intro {
	width: 80vw;
    text-align: center;
}
