@import 'mixinfunc';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Pinyon+Script&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap');

.bgImg {
	background-image: url(../multimedia/index-body-img.jpg);
	@include ajustar-imagen(93vh);

	@media (max-width: pixeles-rem(757)) {
		& {
			background-image: url(../multimedia/fondo-index-media.png);
		}
	}
}

.intro {
	@include crear-flexbox(center);
	flex-direction: column;
	height: 80vh;
	color: aliceblue;
	&-titulo {
		padding: 7px 3px;
		font-weight: bold;
		@media (max-width: pixeles-rem(757)) {
			color: black;
		}
	}
}

.intro-texto {
	width: 80vw;
	text-align: center;
	@media (max-width: pixeles-rem(757)) {
		color: black;
		font-size: 17px;
	}
}

.iconos-index {
	@include crear-flexbox(space-between);
	flex-direction: row;
	& li {
		margin: 3px 10px;
	}
}

.hover-icono:hover {
	animation: shake 0.8s ease-in-out;
	animation-iteration-count: 1;
	@keyframes shake {
		0% {
			transform: translate(0, 0);
		}
		10%,
		90% {
			transform: translate(-5px, 0);
		}
		20%,
		80% {
			transform: translate(5px, 0);
		}
		30%,
		50%,
		70% {
			transform: translate(-5px, 0);
		}
		40%,
		60% {
			transform: translate(5px, 0);
		}
		100% {
			transform: translate(0, 0);
		}
	}
}
