@import "mixinfunc";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Pinyon+Script&family=Poppins:wght@300&family=Roboto+Condensed:ital,wght@1,300&display=swap");

.fondos {
	width: 100%;
	height: 110vh;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	background-position: center;
}

.bgImg1 {
	background-image: url(../multimedia/fondo1.jpg);
	background-size:cover;
		@media (max-width: pixeles-rem(757)) {
		& {
			background-image: url(../multimedia/fondo1-media.jpg);
		}
	}
}

.bgImg2 {
	background-image: url(../multimedia/fondo2.jpeg);
	background-size:cover;
			@media (max-width: pixeles-rem(757)) {
		& {
			background-image: url(../multimedia/fondo2-media.jpg);
		}
	}
}

.bgImg3 {
	background-image: url(../multimedia/logistica-profesionales.jpg);
	background-size:cover;
	@media (max-width: pixeles-rem(757)) {
		& {
			background-image: url(../multimedia/sobre-nosotros-media.jpeg);
		}
	}
}

.titulos-secciones {
	font-size: 60px;
	color: aliceblue;
	font-family: "Dancing Script", cursive;
	text-align: center;
	width: 100%;
    height: 100%;
    @include crear-flexbox(center)
}
.secciones-texto {
	max-width: 1400px;
	width: 90%;
	overflow: hidden;
	margin: auto;
	color: #000;
	padding: 15px 0px;
	.parrafos {
		font-size: 20px;
		padding: 20px;
		text-align: justify;
	}
}
.tarjeta_dato {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	text-align: left;
	@media (max-width: pixeles-rem(890)) {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 25px;
		justify-content: center;
	}
	.tarjeta-dato-texto {
		width: 100%;
		height: auto;
		background: rgba(255, 255, 255, 0.45);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(0px);
		-webkit-backdrop-filter: blur(0px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		p {
			margin: 25px;
		}
	}
}

.tarjeta-dato-texto {
	h2 {
		margin: 5px 20px;
	}
}

.contenedor2 {
	@include crear-flexbox(center);
	flex-direction: row;
	justify-content: space-between;
	.contenedor2_img {
		width: 7.5em;
		@media (max-width: pixeles-rem(500)) {
			flex-direction: column;
			align-items: center;
		}
	}
}
