.footer {
    position: fixed;
    bottom: 0;
    right: 0;
	font-family: "Dancing Script", cursive;
	font-size: 0.5em;
	color: #8d60e6fb;
    &__texto {
        font-size: 13px;
        font-style: italic;
    }
}